<div class="container">
  <div class="row">
    <div class="col">

      <h1>Стили на примерах</h1>

      <h2>Описание урока</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cupiditate dolor est praesentium quo! Dicta
        dignissimos laudantium numquam pariatur quibusdam reiciendis sunt, velit! Explicabo fugiat in officiis quos sunt
        voluptates!</p>



      <div class="bg-dark">
        <app-topic></app-topic>
      </div>
      <div class="bg-light">
        <app-topic></app-topic>
      </div>
      <div class="bg-dark">
        <app-topic></app-topic>
      </div>
      <div class="bg-light">
        <app-topic></app-topic>
      </div>


    </div>
  </div>
</div>




